In [1]:
import pandas as pd

import datetime as dt

In [9]:
df=pd.read_csv("cities.csv")

In [10]:
df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Fuerte Olimpo,-21.04,-57.87,60.12,81.0,88.0,6.11,PY,1593153418
1,Hobart,-42.88,147.33,50.00,61.0,90.0,8.05,AU,1593153008
2,Ushuaia,-54.80,-68.30,35.60,74.0,20.0,18.34,AR,1593153198
3,Hilo,19.73,-155.09,78.80,74.0,90.0,7.00,US,1593153005
4,Taitung City,22.76,121.14,91.40,63.0,75.0,5.82,TW,1593153392

In [12]:
df.to_html("cities.html")